<div class="parent">

  <div class="l-libris-card child">
    <div fxLayout="column"
         class="child"
         fxLayoutAlign="center center ">

      <div>
        <h1 class="u-color-text-white align-center u-font-size-60">Hi ! Welcome to the ATM ! </h1>
      </div>

      <div class="u-margin-top-20">
        <button mat-raised-button
                (click)='openEnterPinDialog()'
                class="custom-button-dark u-color-text-white">ENTER YOUR PIN</button>
      </div>


      <!-- Error Message-->
      <!-- <div>
        <h1 class="u-color-text-white align-center u-font-size-60">Sorry ! </h1>
        <h1 class="u-color-text-white align-center u-font-size-60">We are temporarily out of service. </h1>
        <h1 class="u-color-text-white align-center u-font-size-60">Please try later. </h1>

      </div> -->

      <!-- <div>
        <button mat-raised-button
                (click)='openEnterPinDialog()'
                class="custom-button-dark u-color-text-white">ENTER YOUR PIN</button>
      </div> -->

      <!-- <div>
        <h1 class="u-color-text-white align-center u-margin-top-0 u-margin-bottom-20 u-font-size-50">Oops! You entered
          the wrong pin. </h1>
      </div>
      <div>
        <div class="u-color-text-white align-center u-font-size-40">Please try again.</div>
      </div> -->

    </div>
  </div>
</div>